$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #000015;
$white: #fff;
$gray: #8a93a2;
$gray-dark: #636f83;
$gray-100: #ebedef;
$gray-200: #d8dbe0;
$gray-300: #c4c9d0;
$gray-400: #b1b7c1;
$gray-500: #9da5b1;
$gray-600: #8a93a2;
$gray-700: #768192;
$gray-800: #636f83;
$gray-900: #4f5d73;
$primary: #321fdb;
$secondary: #9da5b1;
$success: #2eb85c;
$info: #39f;
$warning: #f9b115;
$danger: #e55353;
$light: #ebedef;
$dark: #4f5d73;
$primary-rgb: 50, 31, 219;
$secondary-rgb: 157, 165, 177;
$success-rgb: 46, 184, 92;
$info-rgb: 51, 153, 255;
$warning-rgb: 249, 177, 21;
$danger-rgb: 229, 83, 83;
$light-rgb: 235, 237, 239;
$dark-rgb: 79, 93, 115;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 21;
$body-color-rgb: 44, 56, 74;
$body-bg-rgb: 255, 255, 255;
$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: var($font-sans-serif);
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: rgba(44, 56, 74, 0.95);
$body-bg: #fff;
$border-width: 1px;
$border-style: solid;
$border-color: #d8dbe0;
$border-color-translucent: rgba(0, 0, 21, 0.175);
$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;
$heading-color: unset;
$link-color: #321fdb;
$link-hover-color: #2819af;
$code-color: #d63384;
$highlight-bg: #fff3cd;